@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html{
  height:100%;
}
body{
  display:flex;
  flex-direction:column;
  min-height:100%;
}

.labelForForm{
  @apply text-xl md:text-3xl
}

.listStyle {
  list-style-type: none;
  padding: 0;
}

.listStyle li::before {
  content: '🥑'; /* Add the avocado emoji as a content before each list item */
  display: inline-block;
  margin-right: 8px; /* Adjust spacing between the emoji and the text */
}

.footerIcon{
  @apply bg-white text-black p-1 rounded h-[20px] w-[20px]
}

.slide-container{
  --gap:20px;
  --secondary: #1f2937;
  background:var(--secondary);
overflow:hidden;
display:flex;
gap:var(--gap);
padding:4rem 0;
position:relative;
box-shadow: 2px 2px 100px 8px var(--secondary);
border-radius:3vw;
}

.slide{
  display:flex;
  flex-direction:row;
  gap:var(--gap);
  flex-shrink:0;
  user-select:none;
  animation:carousel 20s infinite linear;
}

@keyframes carousel{
  to{
    transform:translateX(calc(-100% - var(--gap)));
  }
}

.slide-container:before{
  position:absolute;
  content:"";
  background:linear-gradient(to left, rgba(255,255,255,0),var(--secondary));
  top:0;
  left:0;
  width:40px;
  height:100%;
  z-index:2;
}

.slide-container:after{
  position:absolute;
  content:"";
  background:linear-gradient(to right, rgba(255,255,255,0),var(--secondary));
  top:0;
  right:0;
  width:40px;
  height:100%;
  z-index:2;
}


@media only screen and (max-width: 768px) {
  .slide-container {
    display:none;
  }
.slide *{
  display:none;
}
}
